.App {   
  display: flex;
  justify-content: center;
}

.btn {
  width: 250px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  margin-bottom: 20px;
  text-align: center;
}

.text-field {
  width: 250px;
}



.top {
  text-align: center;
  
}