
.OneTodo {
  margin-top: 20px;
  margin-left: 20px;
  
  text-align: center;
  width: 300px;
  height: 450px;
  background-color: rgb(180, 212, 218);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo_option {
  margin-top: 10px;
}

.radiobuttons {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add_todo {
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.list ul {  
  text-align: left;
  padding-left: 25px;
}

.list ul li {
  font-size: 20px;
}