.TodosList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TodosList li{
  list-style-type: none;
  margin-right: 30px;
  font-size: 20px;
}

.TodosList li a {
  text-decoration: none;
  color: black;
}

.TodosList li a:hover {
  text-decoration: underline;
}