.MainPage {
  margin-top: 20px;
  
  
  text-align: center;
  width: 300px;
  height: 450px;
  background-color: rgb(180, 212, 218);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  width: 250px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  margin-bottom: 20px;
  text-align: center;
}

.text_field {
  width: 250px;
}

.top {
  text-align: center;
  
}

